* {
	box-sizing: border-box;
	font-family: 'Open Sands Condensed'
}

// ALL MY VARIABLES

$darkBlue:  #2B7E7E;
$red: #76B8B8;
$backGroundGrey: #459393;
$skyBlue: #176C6C;
$oceanBlue: #085656;

body {
	background-color: white;
}

h1 {
	color: $oceanBlue;
	font-size: 10vw;
	text-align: center;
}

p {
	text-align: center;
	color: $oceanBlue;
}

.green {
	background-color: #26A65B;
	color: #DADFE1;
}

.red {
	background-color: #C0392B;
	color: #DADFE1;
}

.styling {
	width: 100%;
	background-color: $darkBlue;
}

.nav-option {
		width: 10%;
		color: white;
		padding: 15px 0;
		border: 2px solid #ddd;
		cursor: pointer;
		text-align: center;
		background-color: $oceanBlue;
		display: inline-block;
		margin: 4px 8px;
		font-size: 1em;
		box-shadow: 1px 1px 2px 2px #95A5A6;
		border-radius: 2px;
}

.nav-option--active {
	background-color: $red;
}

.map {
	position: relative;
	height: 1000px;
	margin-top: 40px;
}

.formview {
	position: fixed;
	top: 120px;
	left: 20px;
	background-color: $backGroundGrey;
	padding: 	12px;
	box-shadow: 2px 2px black;
}

.submit-button {
	position: fixed;
	left: 500px;
	width: 200px;
	padding: 12px;
	margin: 12px;
	background-color: $oceanBlue;
	color: $backGroundGrey;
	font-size: 1em;
	border-radius: 2px;
}

.registration-page {
	background-image: url('https://images.pexels.com/photos/296879/pexels-photo-296879.jpeg?h=350&auto=compress&cs=tinysrgb');
	background-size: cover;
	height: 100%;
	width: 100%;
}

.counter-action, .debrisTotal {
	display: inline-block;
}

.debrisTotal {
	width: 30px;
	padding: 10px;
	vertical-align: middle;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
