* {
	box-sizing: border-box;
	font-family: 'Open Sands Condensed'
}

body {
	background-color: #86E2D5;
	background-image: url('https://cdn.pixabay.com/photo/2017/02/16/20/32/bridge-2072419_1280.jpg');
	background-size: cover;

}

h1 {
	color: #5C97BF;
	font-size: 10vw;
	text-align: center;
}

p {
	text-align: center;
	color: #aaa;
}

.green {
	background-color: #26A65B;
	color: #DADFE1;
}

.red {
	background-color: #C0392B;
	color: #DADFE1;
}

.styling {
	width: 100%;
	background-color: #66CC99;
}

.nav-option {
		width: 10%;
		color: #fff;
		padding: 15px 0;
		border: 2px solid #ddd;
		cursor: pointer;
		text-align: center;
		background-color: #BDC3C7;
		display: inline-block;
		margin: 4px 8px;
		font-size: 1em;
		box-shadow: 1px 1px 2px 2px #95A5A6;
		border-radius: 2px;
}

.nav-option--active {
	background-color: #1BBC9B;
}

.formview {
	background-color: #EEEEEE;
	padding: 	12px;
	box-shadow: 2px 2px black;
}

.submit-button {
	width: 200px;
	padding: 12px;
	margin: 12px;
	background-color: #EEEEEE;
	color: #1BA39C;
}

.map {

}
